<h1 class="mt-3">Selectores anidados</h1>
<hr />
<form action="" [formGroup]="formulario">
  <!-- ! region -->
  <div class="row mb-3">
    <div class="col">
      <label for="region" class="form-label">Continente: </label>
      <select formControlName="region" class="form-control" name="region" id="">
        <option value="" selected>Seleccionar continente</option>
        <option *ngFor="let region of regions" [value]="region">
          {{ region }}
        </option>
      </select>
    </div>
  </div>
  <!-- ! Country-->
  <div class="row mb-3" *ngIf="countriesByRegion.length > 0">
    <div class="col">
      <label for="country" class="form-label">Pais: </label>
      <select
        formControlName="country"
        class="form-control"
        name="country"
        id=""
      >
        <option value="" selected>Seleccionar un pais</option>
        <option *ngFor="let country of countriesByRegion" [value]="country">
          {{ country.name }}
        </option>
      </select>
    </div>
  </div>
  <!-- ! fronteras -->
  <div class="row mb-3">
    <div class="col">
      <label for="borders" class="form-label">Fronteras: </label>
      <select
        formControlName="borders"
        class="form-control"
        name="borders"
        id=""
      >
        <option value="" selected>Fronteras del pais</option>
        <!-- <option *ngFor="let frontera of borders" [value]="">
          {{ frontera }}
        </option> -->
      </select>
    </div>
  </div>
</form>
<h3>Formulario</h3>
<code>
  {{ formulario.value | json }}
</code>
<p>Valid?: {{ formulario.valid }}</p>
